.inner-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1200px;
}

.outer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.btn,
input[type=submit] {
    padding: 10px;
    display: inline-block;
}

input[type=submit] {
    margin-top: 0;
}

.btn {
    margin-top: 30px;
}

p {
    padding-top: 15px;
}
