.blog header {
    background-image: url("../assets/blog-header.jpg")
}

.blog--flex {
    border: 1px solid red;
    display: flex;
    flex: 1 0 50%;
    justify-content: space-between;
    aside,
    > div {
        border: 1px solid blue;
        flex: 0 1 auto;
    }
    aside {
        // display: inline-block;
        flex-basis: 30%;
        transform: translateY(100px);
        display: flex;
        flex-direction: column;
        position: relative;
        img {
            box-shadow: 20px 20px $secondary;
            width: calc(100% - 20px);
            // height: calc(100% - 20px);
            // position: absolute;
            transform: translateY(-20px);
        }
        div:last-child {
            // padding-top: 
            width: 70%;
            align-self: flex-end;
        }
    }
    > div {
        flex-basis: 60%;
        // transform: translateY(-150px);
    }
}

// CAN MAKE BOX-SHADOW GO NEGATIVE!

// .aside--img {
//     background-color: $secondary;
// }

.article--img {
    transform: translateY(-20px) translateX(20px);
    box-shadow: -20px 20px $accent;
    width: calc(100% - 20px);
}

.blog--text {
    border-left: 5px solid $accent;
    border-bottom: 5px solid $accent;
    padding: 10%;
    // transform: translateY(20px) translateX(-20px);

}

.blog--comments {
    padding: 10%;
}

.comment {
    border: 1px solid green;
    display: flex;
}

form {
    padding: 0 10%;
}