// form {
//     // border: 1px solid yellow;
// }

.form-flex {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type=text],
input[type=email] {
    // border: 1px solid blue;
    flex: 0 1 48%;
}

textarea,
input[type=submit] {
    width: 100%;
}

::placeholder {
    opacity: 1;
}

textarea,
input[type=text],
input[type=email] {
    padding: 20px;
}

input[type=text],
input[type=email] {
    border: none;
    border-bottom: 2px solid $accent;
}

input[type=submit] {
    border: none;
}

textarea {
    border: 2px solid $accent;
    margin: 30px 0;
}