header {
    background-image: url("../assets/home-header.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
}

header ul {
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
    li {
        margin-left: 4%;
    }
}

h1 {
    padding-top: 50px;
    padding-bottom: 250px;
}
