

// HEADER STYLES


// header {
// }

// header .flex-container {
//     display: flex;
//     border: 1px solid red;
//     .flex-item {
//         border: 1px solid blue;
//         flex-basis: 50%;
//         img {
//             right: 0;
//         }
//     }
// }


// header div img {
//     width: 45%;
//     position: absolute;
//     bottom: -100px;
//     right: 0;
// }

// MAIN STYLES

.icon-background {
    padding: 10px 10px 0 0;
}

.icons-flex {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    position: relative;
}

.header-overlap {
    width: 40%;
    position: absolute;
    right: 0;
    top: 30%;
}

.text-box {
    border: 1px solid yellow;
    display: flex;
    padding: 5% 2%;
    flex: 1 0 50%;
}

.icons-flex i {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

// i::before {
//     width: 55px;
//     height: 55px;
// }

// i::after {
//     position: absolute;
//     // top: calc(50% + (35px / 2));
//     left: 50%;
//     top: 0;
//     // top: -10px;
//     // left: 0;
//     right: 0;
//     // background-position: 0 50%;
//     display: block;
//     content: '';
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//     background-color: orange;
//     z-index: 1;
// }

// about styles

.about-flex {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.about-text,
.about-img {
    border: 1px solid blue;
    max-width: 50%;
    align-items: center;
    justify-content: center;
}

// road trip styles

.road-trip {
    text-align: center;
}

// events styles

.events--flex {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 50%;
    div {
        border: 1px solid blue;
        // flex-basis: 50%;
        flex: 1 1 50%;
    }
}

// gallery section

.gallery--flex {
    display: flex;
    justify-content: space-between;
}

// footer

footer {
    text-align: center;
}