$primary: #03697C;
$secondary: #474BB5;
$accent: #08FDED;
$dark: #044779;
$text: #F3FAFF;

body {
    background-color: $primary;
}

h1,
h2,
h3,
p,
a {
    color: $text;
}

.icons-flex i,
.btn {
    background-color: $accent;
}

.about {
    background-color: $secondary;
}

footer {
    background-color: $dark;
}

.icons-flex i,
.btn {
    color: $secondary;
}