h1,
h2,
h3,
h4,
button,
.btn {
    font-family: "Walter Turncoat", Arial, sans-serif;
}

p,
nav a {
    font-family: "Roboto", 'Times New Roman', serif;
}

h1 {
    // @include toEm(145.2);
    font-size: 5rem;
}

h2 {
    // @include toEm(121.5);
    @include toEm(40);
}

h3 {
    // @include toEm(99.8);
    @include toEm(35);
}

h4 {
    @include toEm(40);
}

h5 {
    @include toEm(30);
}

p,
nav a {
    @include toEm(20);
}

button {
    @include toEm(41.6);
}

nav a {
    letter-spacing: 1px;
}

.btn,
nav a {
    text-decoration: none;
}