// div, section, main, article, aside {
//     border: 1px solid red;
// }

.blog {

    // header

    header {
        background-image: url("../assets/blog-header.jpg")
    }
    
    // aside
    
    aside {
        flex-basis: 30%;
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .aside--img {
        box-shadow: 20px 20px $secondary;
        width: calc(100% - 20px);
        position: relative;
    }

    .aside--text {
        padding: 0px 20px 30px 20px;
        width: 80%;
        align-self: flex-end;
        
        li:before {
            content: "\2022";
            color: $accent;
            display: inline-block;
            width: 1rem;
        }
        
        h4 {
            padding: 20px 0;
        }
        
        p {
            padding: 0 0 30px 0;
        }
    }

    // article

    article {
        width: 60%;
    }

    .article--relative {
        position: relative;
        top: -150px;
    }

    .flex {
        display: flex;
        flex: 1 0 50%;
        justify-content: space-between;
    }

    .article--img {
        transform: translateY(-20px) translateX(20px);
        box-shadow: -25px 26px 0 -5px $accent;
        width: calc(100% - 20px);
    }

    .article--text {
        border-left: 5px solid $accent;
        border-bottom: 5px solid $accent;
        padding: 10%;
    }

    // comments

    .article--comments {
        padding: 5% 10%;
    }
    .comment {
        display: flex;
        justify-content: space-between;
        :first-child {
            flex-basis: 20%;
        }
        :last-child {
            flex-basis: 75%;
            padding: 30px 0;
        }
    }

    // form

    .blog form {
        padding: 0 10%;
    }
}