.contact {

    // HEADER STYLES
    
    header {
        background-image: url("../assets/contact-header.jpg")
    }

    p {
        padding: 0;
    }

    // MAIN STYLES

    .flex {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
    }

    // business info

    .info {
        flex-basis: 25%;
    }

    .info div {
        margin-top: 20px;
    }

    .icons {
        display: flex;
    }
    
    .icons i {
        margin-right: 15px;
        &:hover,
        &:focus {
            color: $accent;
            transition: all 0.5s;
        }
    }

    // contact form

    .form {
        position: relative;
        flex-basis: 70%;
    }

    form {
        padding: 5%;
        width: 100%;
        box-shadow: 20px 20px 0px -5px $accent;
        position: absolute;
        top: -200px;

        input[type=text],
        input[type=email],
        textarea {
            background-color: $secondary;
        }
        
        input[type=text],
        input[type=email] {
            border-bottom: 2px solid $text;
        }
        
        textarea {
            border: 2px solid white;
        }

    }

}