
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    flex: 1;
}

.skip-to-content {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

.skip-to-content:focus {
    transform: translateY(0%);
}

// wrappers

.inner-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1200px;
}

.outer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

// buttons

.btn,
input[type=submit] {
    padding: 10px;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;
    &:hover,
    &:focus {
        background-color: $text;
        color: $dark;
    }
}

input[type=submit] {
    margin-top: 0;
}

.btn {
    margin-top: 30px;
}

// other

p {
    padding-top: 15px;
}