@media (max-width: 940px) {
    
}

@media (max-width: 768px) {

    // hamburger nav

    header label,
    header input {
        display: block;
        position: relative;
        padding-top: 50px;
        right: 60px;
        position: fixed;
        text-align: right;
    }

    header label {
        z-index: 20;
    }

    h1 {
        font-size: 4rem;
    }
    
    .nav--toggle i {
        background-color: transparent;
        color: $accent;
    }

    .nav--toggle ul {
        background: $secondary;
        border-left: 2px solid $accent;
        padding-top: 150px;
        text-align: center;
        position: fixed;
        z-index: 10;
        width: 163px;
        right: -20%;
        top: 0;
        height: 100%;
        transition: all 0.5s;
        
        a {
            display: inline-block;
            width: 100%;
            padding: 20px;
            transition: all 0.5s;
        }
        
    }

    input[type=checkbox]:checked + ul {
        opacity: 1;
        right: 0;
    }

    input[type=checkbox] {
        display: none;
    }

    label {
        position: fixed;
        top: 10px;
        left: 10px;
        color: white;
        z-index: 10;
    }

    // hide desktop nav

    .nav--desktop {
        display: none;
    }

    // INDEX PAGE

    .icons--flex {
        flex-direction: column;
    }

    .about--flex {
        flex-direction: column;
        div {
            width: 100%;
        }
    }

    .events--flex {
        flex-direction: column;
        img {
            width: 50%;
        }
    }

    // CONTACT PAGE

    .flex {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .form {
        // width: 80%;
    }
    
    .contact form {
        position: static;
    }

    // BLOG PAGE

    .flex {
        flex-direction: column;
    }

    aside {
        width: 80%;
        position: relative;
        top: auto;

    }
}

@media (max-width: 480px) {

}