$primary: #03697C;
$secondary: #474BB5;
$accent: #08FDED;
$dark: #044779;
$text: #F3FAFF;

body,
input,
textarea {
    background-color: $primary;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
::placeholder,
.contact i {
    color: $text;
}

.home i,
.btn,
input[type=submit] {
    background-color: $accent;
}

.about--flex,
.gallery,
.aside--text,
.contact form {
    background-color: $secondary;
}

footer {
    background-color: $dark;
}

.icons--flex i,
.btn,
input[type=submit] {
    color: $secondary;
}