// font family

h1,
h2,
h3,
h4,
.btn,
input[type=submit] {
    font-family: "Walter Turncoat", Arial, sans-serif;
}

p,
nav a,
h5,
::placeholder,
aside li,
header label {
    font-family: "Roboto", 'Times New Roman', serif;
}

// font size

h1 {
    font-size: 6.5rem;
}

h2 {
    font-size: 2rem;
}

.blog h2,
header label {
    font-size: 3rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1rem;
}

.blog h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    font-weight: bolder;
    font-style: italic;
}

p,
nav a,
aside li {
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 1px;
}

nav a {
    letter-spacing: 1px;
}

.btn,
nav a {
    text-decoration: none;
}