h1,
h2,
h3,
h4,
button,
.btn,
input[type=submit] {
    font-family: "Walter Turncoat", Arial, sans-serif;
}

p,
nav a,
h5,
::placeholder,
aside li,
header label {
    font-family: "Roboto", 'Times New Roman', serif;
}

h1 {
    // @include toEm(145.2);
    font-size: 6.5rem;
}

h2 {
    // @include toEm(121.5);
    // @include toEm(40);
    font-size: 2rem;
}

.blog h2 {
    font-size: 3rem;
}

.blog h4 {
    font-size: 1.5rem;
}

h3 {
    // @include toEm(99.8);
    // @include toEm(35);
    font-size: 1.7rem;
}

h4 {
    @include toEm(40);
}

h5 {
    @include toEm(30);

}

p,
nav a,
aside li,
header label {
    // @include toEm(20);
    font-size: 1rem;
    // font-size: 1.5vw;
    line-height: 25px;
    letter-spacing: 1px;
}

button {
    @include toEm(41.6);
}

nav a {
    letter-spacing: 1px;
}

.btn,
nav a {
    text-decoration: none;
}