header {
    background-image: url("../assets/home-header.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
}

header ul {
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
    li {
        margin-left: 4%;
    }
}

h1 {
    padding-top: 50px;
    padding-bottom: 250px;
}

nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: $accent;
    transition: all 0.5;
}

nav a:hover::after {
    transition: all 0.5s;
    width: 100%;
}