header {
    background-image: url("../assets/home-header.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
    
    h1 {
        padding-top: 50px;
        padding-bottom: 250px;
    }

    // hamburg nav

    label,
    input {
        display: none;
    }

    .nav--toggle ul {
        opacity: 0;
        display: none;
    }

    // desktop nav
    
    .nav--desktop ul {
        display: flex;
        justify-content: flex-start;
        padding-top: 10%;
        li {
            margin-left: 4%;
        }
    }

    
    
    nav a::after {
        content: "";
        display: block;
        height: 2px;
        width: 0;
        background: $accent;
        transition: all 0.5;
    }
    
    nav a:hover::after,
    nav a:focus::after,
    .current-page::after {
        transition: all 0.5s;
        width: 100%;
    }

    .inner-wrapper {
        padding-top: 0;
    }
    
}
