a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

body,
input,
textarea {
  background-color: #03697C;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
::-webkit-input-placeholder,
.contact i {
  color: #F3FAFF;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
:-ms-input-placeholder,
.contact i {
  color: #F3FAFF;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
::-ms-input-placeholder,
.contact i {
  color: #F3FAFF;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
::placeholder,
.contact i {
  color: #F3FAFF;
}

.home i,
.btn,
input[type=submit] {
  background-color: #08FDED;
}

.about--flex,
.gallery,
.aside--text,
.contact form {
  background-color: #474BB5;
}

footer {
  background-color: #044779;
}

.icons--flex i,
.btn,
input[type=submit] {
  color: #474BB5;
}

h1,
h2,
h3,
h4,
button,
.btn,
input[type=submit] {
  font-family: "Walter Turncoat", Arial, sans-serif;
}

p,
nav a,
h5,
::-webkit-input-placeholder,
aside li {
  font-family: "Roboto", 'Times New Roman', serif;
}

p,
nav a,
h5,
:-ms-input-placeholder,
aside li {
  font-family: "Roboto", 'Times New Roman', serif;
}

p,
nav a,
h5,
::-ms-input-placeholder,
aside li {
  font-family: "Roboto", 'Times New Roman', serif;
}

p,
nav a,
h5,
::placeholder,
aside li {
  font-family: "Roboto", 'Times New Roman', serif;
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 2rem;
}

.blog h2 {
  font-size: 3rem;
}

.blog h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: calc(($pxValue / 16) * 1rem);
}

h5 {
  font-size: calc(($pxValue / 16) * 1rem);
}

p,
nav a,
aside li {
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 1px;
}

button {
  font-size: calc(($pxValue / 16) * 1rem);
}

nav a {
  letter-spacing: 1px;
}

.btn,
nav a {
  text-decoration: none;
}

.inner-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1200px;
}

.outer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.btn,
input[type=submit] {
  padding: 10px;
  display: inline-block;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover,
input[type=submit]:hover {
  background-color: #F3FAFF;
  color: #044779;
}

input[type=submit] {
  margin-top: 0;
}

.btn {
  margin-top: 30px;
}

p {
  padding-top: 15px;
}

.form--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=text],
input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 45%;
}

textarea,
input[type=submit] {
  width: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

textarea,
input[type=text],
input[type=email] {
  padding: 20px;
}

input[type=text],
input[type=email] {
  border: none;
  border-bottom: 2px solid #08FDED;
}

input[type=submit] {
  border: none;
}

textarea {
  border: 2px solid #08FDED;
  margin: 30px 0;
}

header {
  background-image: url("../assets/home-header.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10%;
}

header ul li {
  margin-left: 4%;
}

h1 {
  padding-top: 50px;
  padding-bottom: 250px;
}

nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #08FDED;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

nav a:hover::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header .inner-wrapper {
  padding: 0;
}

.home h1 {
  padding-top: 200px;
  padding-bottom: 100px;
}

.icons .icons--background {
  padding: 0 15px;
}

.icons .icons--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10%;
  position: relative;
}

.icons .header-overlap {
  width: 40%;
  position: absolute;
  right: -12.5%;
  top: -210px;
}

.icons .icons--text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-bottom: 40px;
}

.icons .icons--flex i {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.about--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about--text-right,
.about--text-left,
.about--img-right,
.about--img-left {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about--text-right {
  padding: 5% 10% 5% 0;
}

.about--text-left {
  padding: 5% 0 5% 10%;
  text-align: right;
}

.about--img-left img {
  -webkit-box-shadow: 15px 15px 0 -3px #08FDED;
          box-shadow: 15px 15px 0 -3px #08FDED;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.about--img-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about--img-right img {
  -webkit-box-shadow: -15px 15px 0 -3px #08FDED;
          box-shadow: -15px 15px 0 -3px #08FDED;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.road-trip {
  text-align: center;
}

.road-trip .inner-wrapper {
  padding-top: 150px;
  padding-bottom: 100px;
}

.events .inner-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.events .events--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.events .events--img {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-width: 150px;
}

.events .events--img img {
  -webkit-box-shadow: -15px 15px #08FDED;
  box-shadow: -15px 15px 0 -3px #08FDED;
}

.events .events--text {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.gallery .inner-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery .gallery--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .gallery--flex div {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

footer {
  text-align: center;
}

div, section, main, article, aside {
  border: 1px solid red;
}

.blog header {
  background-image: url("../assets/blog-header.jpg");
}

.blog aside {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.blog .aside--img {
  -webkit-box-shadow: 20px 20px #474BB5;
          box-shadow: 20px 20px #474BB5;
  width: calc(100% - 20px);
  position: relative;
}

.blog .aside--text {
  padding: 0px 20px 30px 20px;
  width: 80%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blog .aside--text li:before {
  content: "\2022";
  color: #08FDED;
  display: inline-block;
  width: 1rem;
}

.blog .aside--text h4 {
  padding: 20px 0;
}

.blog .aside--text p {
  padding: 0 0 30px 0;
}

.blog article {
  width: 60%;
}

.blog .article--relative {
  position: relative;
  top: -150px;
}

.blog .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .article--img {
  -webkit-transform: translateY(-20px) translateX(20px);
          transform: translateY(-20px) translateX(20px);
  -webkit-box-shadow: -25px 26px 0 -5px #08FDED;
          box-shadow: -25px 26px 0 -5px #08FDED;
  width: calc(100% - 20px);
}

.blog .article--text {
  border-left: 5px solid #08FDED;
  border-bottom: 5px solid #08FDED;
  padding: 10%;
}

.blog .article--comments {
  padding: 5% 10%;
}

.blog .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .comment :first-child {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.blog .comment :last-child {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 30px 0;
}

.blog .blog form {
  padding: 0 10%;
}

.blog footer {
  position: relative;
}

.contact header {
  background-image: url("../assets/contact-header.jpg");
}

.contact p {
  padding: 0;
}

.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .info div {
  margin-top: 20px;
}

.contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact i {
  margin-right: 15px;
}

.contact .form {
  position: relative;
  width: 70%;
}

.contact form {
  padding: 5%;
  width: 100%;
  -webkit-box-shadow: 20px 20px 0px -5px #08FDED;
          box-shadow: 20px 20px 0px -5px #08FDED;
  position: absolute;
  top: -200px;
}

.contact form input[type=text],
.contact form input[type=email],
.contact form textarea {
  background-color: #474BB5;
}

.contact form input[type=text],
.contact form input[type=email] {
  border-bottom: 2px solid #F3FAFF;
}

.contact form textarea {
  border: 2px solid white;
}
